<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Title</label>
    <input class="input" type="text" placeholder="Enter station title" name="title">
  </div>
  <button class="button is-link">Add Station</button>
</form>
