{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    <a href="/station/{{_id}}">
      {{name}}
    </a>
  </h2>
  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}
