{{#each stations}}
<div class="box box-link-hover-shadow">
  {{> weather-bar name=name }} 
  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}
