
<div class="columns">
<!-- Location card -->
  <div class="column">
    <div class="card has-background-black has-text-white">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-white">{{name}}</p>
                </div>
                <div class="media-left">
                    <figure class="image is-48x48">
                        {{> icons/location }}
                    </figure>
                </div>
            </div>
            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
            iaculis mauris.   
            </div>
        </div>
    </div>   
  </div>

<!-- Weather card -->
  <div class="column">
    <div class="card has-background-black has-text-white">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 has-text-white">Weather</p>
                </div>
                <div class="media-left">
                    <figure class="image is-48x48">
                        {{> icons/user }}
                    </figure>
                </div>
            </div>

            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
            iaculis mauris.   
            </div>
        </div>
    </div>   
  </div>

<!-- Temperature card -->
  <div class="column">
    <div class="card has-background-black has-text-white">
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4 has-text-white">Temp</p>
            </div>
            <div class="media-left">
                <figure class="image is-48x48">
                    {{> icons/temperature }}
                </figure>
            </div>
            </div>

            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
            iaculis mauris.   
            </div>
        </div>
    </div>   
  </div>

<!-- Wind Card -->
  <div class="column">
    <div class="card has-background-black has-text-white">
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4 has-text-white">Wind</p>
            </div>
            <div class="media-left">
                <figure class="image is-48x48">
                    {{> icons/wind }}
                </figure>
            </div>
            </div>

            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
            iaculis mauris.   
            </div>
        </div>
    </div>   
  </div>

<!-- Pressure card -->
  <div class="column">
    <div class="card has-background-black has-text-white">
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4 has-text-white">Pressure</p>
            </div>
            <div class="media-left">
                <figure class="image is-48x48">
                    {{> icons/pressure }}
                </figure>
            </div>
            </div>

            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
            iaculis mauris.   
            </div>
        </div>
    </div>   
  </div>
</div>