{{> menu active="dashboard"}}

<section class="section box">
  {{> weather-bar station=station}} 
  {{> list-reports}}
  {{> add-report}}
  <form action="/station/{{station._id}}/autoaddreport" method="POST">
    <button class="button is-primary">Auto Generate Reading</button>
  </form>
</section>
